@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

body {
  background-color: #EBEBEB;
}
h1 {
  color: #333333;
}

.punktforme {
  font-weight: bold;
}
.row {
  color: #333333;
}

/*BAGGRUNDSBILLEDE*/

.background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;

}

.background img {
  width: 100%;
}

.box {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3%;
  position: relative;
  margin: auto;
  margin-top: 50px;


}

.blueone {
  background-color: #11497b;
  color: #fff;
  float: left;

}

.blueone h2 {
  font-size: 1.2em;
  padding-top: 8%;
  padding-bottom: 10%;
}

.whiteone {
  float: left;
  padding-bottom: 20%;
}

.whiteone h1 {
  font-size: 1.5em;
  text-align: center;
}

.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}

/*Dette er login knappen*/
.btn {
  background-color: #0068B4;
  border: #0068B4;
}

.form-group {
  /*height: 3em;*/
  margin: -2%;
  margin-left: 2%;
}

.form-group label {
  font-size: 0.9em;
}

.next button{
  background-color: #4aa22c;
  border: #4aa22c;

}

.next {
  width: 10%;
  margin-left: 65%;
  margin-top: 62px;
}

#login {
  display: none;
}

#next {
  display: none;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

/*BOOTSTRAP PADDING FIX*/
[class*="col-"] {
    padding: 1em;
}

@media (min-width: 1024px) {
  .next {
    width: 10%;
    margin-left: 77%;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
